.card_market {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid #3b4cb8;
  /*overflow: hidden;*/
}

.ant-card-cover img {
  width: 150px;
  height: 150px;
}

.market_col {
  display: flex;
  justify-content: center;
}

.card_img {
  border-radius: 50% !important;
}

.card_category_name {
  display: flex;
  justify-content: center;
}

.market_col > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

/* ÜRÜNLER İÇİN CSS BAŞLANGIÇ*/

.market_product_col{
  margin-top: 10%;
}
.card_product_img{
  width: 256px !important;
  height: 256px  !important;
}

.card_market_product{
width: 256px;
border-radius: 20px;

}

.card_product_img{
  border-radius: 20px;
}
.market_buy_button{
  color: #3b4cb8;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  
  float: right;
}

.market_buy_button:hover{
color: white;
background-color: #3b4cb8;

}

.ant-card-meta-title{
display: flex;
}