.login_root {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.login_body {
  display: flex;
  border-radius: 40px;
}
.login_layout {
  margin: 10px 0;
}

.logo_login {
  text-align: center;
}

.login_button {
  text-align: center;
  margin: 15px 0 0;
}

.login_forgot_pass {
  text-align: center;
}
