.card-wrapper {
  /* margin-bottom: 30px; */
}

.card {
  box-shadow: 0px 12px 23px 0px rgba(182, 85, 228, 0.04);
  border-radius: 15px;
}

.cardOne {
  background: #c9ffbf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ff9a9e,
    #fad0c4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ff9a9e,
    #fad0c4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardTwo {
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffecd2,
    #fcb69f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffecd2,
    #fcb69f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardThree {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #a1c4fd,
    #c2e9fb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #a1c4fd,
    #c2e9fb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardFour {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #96deda,
    #50c9c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #96deda,
    #50c9c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card_col {
  margin-bottom: 24px;
}
.card > div:first-child {
  border-bottom: none;
}

.card_title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 5px;
}
.card_detail {
  margin: 0;
}
.card_p {
  color: #000000;
}
.card_percantage {
  color: #ffffff;
  font-size: xx-large;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card_charts_col {
  display: flex;
}
.card_charts_p {
  color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
}

.card_charts_noti {
  display: grid;
}

.positive {
  color: #adff2f;
}
.negative {
  color: #ff6746;
}
